.r1 {
    margin: 10px;
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #009688;
    border-radius: 20px;
    color: white;

}


.h1 {
    font-family: "Arial";
    color: aliceblue;

}

.images {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: raw;
    width: px;
    height: 100px;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    margin: 10px;
}

.nav li {
    display: inline-block;
    color: white;
    font-size: 23px;
    padding: 5px;
    font: Times New Roman;
}

li a {
    display: block;
    padding: 13px;
    color: #0066ff;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #0066ff;
    margin-left: px;
    margin-right: px;
    padding-left: 15px;
    padding-right: 15px;
}

li a:hover {
    background-color: #0066ff;
    color: white;
}

.w3-container w3-theme-d2 {
    padding-bottom: 22px;
    background-color: #0066ff;
}
